<br>
<h1 style="text-align:center;">Choose your path</h1>
<br>
<hr>
<br>

<%= link_to 'Fantasy Football', teams_path %><br><br>

<%= link_to 'Focus', days_path %><br><br>

<%= link_to 'Workout', fits_path %><br><br>


