
<br>
<h1 style="text-align:center;"><ins>Choose your path</ins></h1>
<br>

<br>


<%= link_to 'Fantasy Football', teams_path %><br><br>

<%= link_to 'Focus', days_path %><br><br>

<%= link_to 'Workout', fits_path %><br><br>


